{% extends 'admin_navigation.html' %}
{% load static %}
{% block body %}

     <div class="signup-main" style="width:100%;margin-top:0">
    	 <div class="signup-head">
				<h1>Add Services</h1>
			</div>
			<div class="signup-block">
				<form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
					<input type="text" name="cat" placeholder="Services Name" required="">
					<input type="file" name="image" required="" style="width:100%;padding:8px;margin-top:2%;border:1px solid lightgrey ">
                    <textarea placeholder="Write your Services description" name="desc" required="" style="width:100%;padding:8px;margin-top:2%;border:1px solid lightgrey"></textarea>
					<input type="submit" value="Add Services" style="margin-top:10%; background-color: green;">
				</form>
			</div>
    </div>

{% if error %}
<script>
    alert('Record Saved Successfully');
    window.location = "{% url 'view_service' %}";
</script>
{% endif %}
    {% endblock %}