{% extends 'admin_navigation.html' %}
{% load static %}
{% block body %}

     <div class="signup-main" style="width:100%;margin-top:0">
    	 <div class="signup-head">
				<h1>Add New City</h1>
			</div>
			<div class="signup-block">
				<form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
					<input type="text" name="cat" placeholder="City Name" required="">
                    <input type="submit" value="Add City" style="margin-top:10%; background-color: green;">
				</form>
			</div>
    </div>

{% if error %}
<script>
    alert('Add 1 new City Successfully');
    window.location = "{% url 'view_city' %}";
</script>
{% endif %}
    {% endblock %}