{% extends 'index.html' %}
{% load static %}
{% block body %}
{% if error %}
<script>
	alert('Message sent successfully,We will contact you soon.');
	window.location="{% url 'home' %}";
</script>
{% endif %}
	
	<section class="wthree-row py-5 w3-contact" id="contact">
		<div class="container py-md-5">
			<h2 class="w3ls-title text-center pb-md-5 pb-4">Contact Form</h2>
			<div class="row contact-form ">
				<div class="col-lg-6 wthree-form-left">
					<!-- contact form grid -->
					<div class="contact-top1">
						<form action="" method="post">
							{% csrf_token %}
							<div class="form-group">
								<label for="contactusername">Name</label>
								<input type="text" class="form-control" id="contactusername" name="name" required>
							</div>
							<div class="form-group">
								<label for="contactemail">Email</label>
								<input type="email" class="form-control" id="contactemail" name="email"required>
							</div>
							<div class="form-group">
								<label for="contactcomment">Your Message</label>
								<textarea class="form-control" rows="5" id="contactcomment" name="message" required></textarea>
							</div>
							<button type="submit" class="btn btn-info btn-block" style="background-color: green;">Submit</button>
						</form>
					</div>
					<!--  //contact form grid ends here -->
				</div>
				<!-- contact details -->
				<!-- contact map grid -->
				<div class="col-lg-6  mt-lg-0 mt-5 map contact-right">
                    <img src="{% static 'images/contact.jpg' %}" style="width:90%">
				</div>

			</div>
        </div>
	</section>
	</section>
	<!-- //contact -->

{% endblock %}