{% extends 'index.html' %}
{% load static %}
{% block body %}


<section class="bannerbottom py-lg-5 py-md-4 py-md-3 py-2" style="margin-top: 5%; margin-bottom: 5%;">
    <h1 align="center" style="font-weight:bold;font-family : 'poppins' ; color : black ;">Our Services</h1>
    <iframe style="height:0"></iframe><div class="bannerbottom py-lg-5 py-md-4 py-md-3 py-2">
<div class="container">
<div class="row">
    {% for i in ser %}
<div class="col-md-4 col-sm-12 w3_ban1">
<div class="card">
  <img class="card-img-top" src="{{i.image.url}}" alt="Card image cap" style="width: 100%; height: 200px; object-fit: cover;">
  <div class="card-body">
	<h6 class="card-title">{{i.category}} <span style="color:green">(<span style="color:black;font-weight:medium">{{i.total}}</span>)</span></h6>
    <p class="card-text">{{i.desc}}</p>
    <a href="{% url 'explore_services' i.id %}" class="btn btn-primary" style="background-color: green;">Explore</a>
  </div>
</div>
</div>
    {% endfor %}

</div>
</div>
</div>
</section>

{% endblock %}